body {
    color: #999;
}

.wraper {
    display: flex;
    width: 1000px;
    justify-content: space-around;
}

.wraper_card {
    border: 1px solid grey;
    width: 31%;
}

.button_card {
    margin-left: 15%;
}

.hide {
    display: none;
}

.messages {
    border: 1px solid grey;
    border-radius: 5px;
    margin: 2px;
    padding: 10px;
}

.dragget {
    position: absolute;
    z-index: 999;
    pointer-events: auto;
    background: #fff;
}
